@font-face {
  font-family: 'YiSunShinDotumM';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YiSunShinDotumM.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, etails, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: inherit; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* key color */
/* responsive unit */
/* font style list */
/* transition */
body {
  min-width: 360px;
  width: 100%;
  font-size: 15px;
  color: #2c2c2c;
  letter-spacing: .5px;
  font-weight: 300;
  font-family: 'YiSunShinDotumM';
  word-break: keep-all;
  box-sizing: border-box; }
  body *, body *::before, body *::after {
    box-sizing: border-box; }

img {
  display: block; }
  img.visible-sm {
    display: block; }
  img.visible-lg {
    display: none; }
  @media (min-width: 1024px) {
    img.visible-sm {
      display: none; }
    img.visible-lg {
      display: block;
      width: 100%; } }

.container {
  display: block;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto; }
  @media (min-width: 1200px) {
    .container {
      padding: 0; } }

.container-fluid {
  display: block;
  width: 100%; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0; }

hr {
  display: block;
  border: 0;
  margin: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, select, textarea {
  font-family: inherit;
  outline: none !important; }

a, button {
  color: #000;
  cursor: pointer;
  border: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  background: none; }
  a:hover, button:hover {
    color: #000; }

/* header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }
  #header .container {
    position: relative;
    padding: 30px 20px; }
    #header .container .logo {
      display: inline-block;
      font-size: 0; }
      #header .container .logo > a {
        display: block; }
    #header .container #gnb {
      display: none; }
    #header .container .btn-area {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%); }
      #header .container .btn-area .btn-nav {
        position: relative;
        width: 30px;
        display: block;
        padding: 6px 0; }
        #header .container .btn-area .btn-nav .bar {
          display: block;
          width: 100%;
          height: 2px;
          background-color: #fff; }
          #header .container .btn-area .btn-nav .bar ~ .bar {
            margin-top: 6px; }
  @media (min-width: 1024px) {
    #header {
      text-align: center; }
      #header .container {
        padding: 30px 0; }
        #header .container #gnb {
          display: block;
          margin-top: 40px; }
          #header .container #gnb > ul {
            font-size: 0; }
            #header .container #gnb > ul > li {
              display: inline-block;
              vertical-align: top;
              margin: 0 15px; }
              #header .container #gnb > ul > li > a {
                position: relative;
                display: block;
                font-size: 15px;
                color: #fff;
                padding-bottom: 5px;
                font-weight: 400;
                -webkit-transition-property: all;
                transition-property: all;
                -webkit-transition-duration: 0.15s;
                transition-duration: 0.15s;
                -webkit-transition-timing-function: linear;
                transition-timing-function: linear;
                -webkit-transition-delay: 0s;
                transition-delay: 0s; }
                #header .container #gnb > ul > li > a:after {
                  position: absolute;
                  bottom: 0;
                  left: 50%;
                  width: 0;
                  height: 1px;
                  content: '';
                  display: block;
                  transform: translateX(-50%);
                  background-color: #ff6400;
                  -webkit-transition-property: all;
                  transition-property: all;
                  -webkit-transition-duration: 0.15s;
                  transition-duration: 0.15s;
                  -webkit-transition-timing-function: linear;
                  transition-timing-function: linear;
                  -webkit-transition-delay: 0s;
                  transition-delay: 0s; }
                #header .container #gnb > ul > li > a:hover {
                  opacity: .7;
                  color: #ff6400; }
                  #header .container #gnb > ul > li > a:hover:after {
                    width: 100%; }
              #header .container #gnb > ul > li.active > a {
                color: #ff6400; }
                #header .container #gnb > ul > li.active > a:after {
                  width: 100%; }
                #header .container #gnb > ul > li.active > a:hover {
                  opacity: 1; }
        #header .container .btn-area {
          display: none; } }

/* nav */
#nav {
  position: fixed;
  top: -200%;
  left: 0;
  width: 100%;
  min-height: 600px;
  height: 100vh;
  z-index: 99;
  overflow-y: auto;
  text-align: center;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  background-color: #ff6400; }
  #nav .container {
    position: relative;
    display: table;
    width: 100%;
    height: 100%; }
    #nav .container .v-align {
      display: table-cell;
      vertical-align: middle; }
      #nav .container .v-align .nav-head .logo {
        display: inline-block;
        font-size: 0; }
        #nav .container .v-align .nav-head .logo > a {
          display: block; }
      #nav .container .v-align .nav-head .btn-area {
        position: absolute;
        top: 34px;
        right: 34px; }
        #nav .container .v-align .nav-head .btn-area .btn-nav-close {
          position: relative;
          display: block;
          width: 30px;
          height: 30px; }
          #nav .container .v-align .nav-head .btn-area .btn-nav-close .bar {
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            width: 100%;
            height: 2px;
            background-color: #fff; }
            #nav .container .v-align .nav-head .btn-area .btn-nav-close .bar:nth-of-type(1) {
              transform: translate(-50%, -50%) rotate(45deg); }
            #nav .container .v-align .nav-head .btn-area .btn-nav-close .bar:nth-of-type(2) {
              transform: translate(-50%, -50%) rotate(-45deg); }
      #nav .container .v-align .nav-content {
        padding-top: 125px; }
        #nav .container .v-align .nav-content > ul > li {
          position: relative;
          top: 20px;
          opacity: 0; }
          #nav .container .v-align .nav-content > ul > li > a {
            font-size: 18px;
            color: #fff;
            font-weight: 400; }
          #nav .container .v-align .nav-content > ul > li ~ li {
            margin-top: 20px; }
          #nav .container .v-align .nav-content > ul > li:nth-of-type(1) {
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
            -webkit-transition-delay: 0s;
            transition-delay: 0s; }
          #nav .container .v-align .nav-content > ul > li:nth-of-type(2) {
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
            -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s; }
          #nav .container .v-align .nav-content > ul > li:nth-of-type(3) {
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
            -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s; }
          #nav .container .v-align .nav-content > ul > li:nth-of-type(4) {
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
            -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s; }
          #nav .container .v-align .nav-content > ul > li:nth-of-type(5) {
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
            -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s; }
          #nav .container .v-align .nav-content > ul > li:nth-of-type(6) {
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
            -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s; }
          #nav .container .v-align .nav-content > ul > li:nth-of-type(7) {
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
            -webkit-transition-delay: 0.6s;
            transition-delay: 0.6s; }
      #nav .container .v-align .copyright {
        font-size: 12px;
        color: #fff;
        font-weight: 400;
        margin-top: 100px; }
  #nav.active .container .v-align .nav-content > ul > li {
    top: 0;
    opacity: 1; }

body.opened {
  overflow: hidden; }
  body.opened #nav {
    top: 0; }
body.scrolled #header {
  background-color: #202020;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35); }
  body.scrolled #header .container {
    padding: 15px 20px; }
@media (min-width: 1024px) {
  body.scrolled #header .container {
    position: static;
    padding: 25px 0; }
    body.scrolled #header .container .logo {
      position: absolute;
      top: 50%;
      left: 30px;
      transform: translateY(-50%); }
      body.scrolled #header .container .logo img.visible-sm {
        display: block; }
      body.scrolled #header .container .logo img.visible-lg {
        display: none; }
    body.scrolled #header .container #gnb {
      margin: 0; }
      body.scrolled #header .container #gnb > ul > li > a {
        padding: 5px 0; } }

#footer {
  text-align: center;
  padding: 50px 0 65px;
  background-color: #2b2b2b; }
  #footer .container .logo {
    display: inline-block; }
    #footer .container .logo img {
      display: block; }
  #footer .container .copyright {
    display: block;
    font-size: 13px;
    color: #a0a0a0;
    font-weight: 400;
    margin-top: 20px; }
  @media (min-width: 1024px) {
    #footer {
      padding-top: 40px; }
      #footer .container .copyright {
        font-size: 12px;
        margin-top: 40px; } }

/*# sourceMappingURL=default.css.map */
